<h1 class="h1-tienda text-2xl">Recomendanos un juego que te gustaria ver en nuestra tienda</h1>
<section>

    <form action="/api/recommendation" method="POST" class="form-content">

        <label for="name">Nombre</label>
        <input type="text" name="title">

        <label for="description">Descripción</label>
        <input type="text" name="description">

        <label for="category">Categoría</label>
        <input type="text" name="category">

        <button type="submit">Guardar</button>

    </form>

</section>
<script>
    const inputs = document.querySelectorAll('.form-content input');
    const btn = document.querySelector('.form-content button');

    btn.disabled = true;

    inputs.forEach(input => {
        input.addEventListener('input', () => {
            const inputsCompletos = [...inputs].every(i => i.value.trim() !== '') // si todos los campos esta llenos habilida el boton
            btn.disabled = !inputsCompletos // sino lo deshabilita
        });
    });
</script>