<div class="card bg-base-100">
    <div class="card-body">
        <ul>
            <li>
                <h2 class="text-2xl">{{game.nombre}}</h2>
                <h2><strong>Categoría:</strong> {{game.categoria}}</h2>
                <h2><strong>Año de lanzamiento:</strong> {{game.anio}}</h2>
            </li>
            <div class="card-actios justify-end">
                <a class="btn btn-info" href="/products/{{_id}}">Volver</a>
            </div>
        </ul>
    </div>
</div>