    <footer>

        <div class="content-text">
            <p class="p-footer">© <span id="año"></span> Pixels. Todos los derechos reservados. ¡Seguinos para no
                perderte nada!</p>
        </div>

        <div class="container-img-footer">
            <a href="https://www.instagram.com/" target="_blank">
                <img class="imgs-footer" src="/icon-insta.png" alt="logo de instagram" draggable="false">
            </a>
            <a href="https://www.whatsapp.com/?lang=es" target="_blank">
                <img class="imgs-footer" src="/icon-wsp.png" alt="logo de whatsapp" draggable="false">
            </a>
        </div>

    </footer>