<header>
<div class="navbar bg-base-100 shadow-sm">

   <div class="flex-1">
   <img class="icon-header" src="/icon.png" alt="icono-header" draggable="false">
   </div>

   <div class="flex-none">

      <ul class="menu menu-horizontal px-1">

         <li><a class="a-header"  href="/">Inicio</a></li>
         <li><a class="a-header" href="/products">Tienda</a></li>
         <li><a class="a-header" href="/form">Recomiendanos un juego</a></li>
         <li><a class="a-header" href="/carts/{{cid}}">Carrito <span class="contador-header">({{total}})</span></a></li>

      </ul>

   </div>

</div>
</header>
